SECRET_KEY='django-insecure-@h-x!(lzw#&#ta+$@=36w*fm8rxn7*f_c!mld35%sy33x_7-07'
DEBUG=True
POSTGRES_DB=TODO_core
POSTGRES_USER=postgres
POSTGRES_PASSWORD=coretodopg
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
EMAIL_HOST = 'smtp.example.com'
EMAIL_HOST_USER = 'your_email@example.com'
EMAIL_HOST_PASSWORD = 'your_password'
CELERY_BROKER_URL = 'redis://redis:6379/0'
CELERY_RESULT_BACKEND = 'redis://redis:6379/0'